---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import Strategy from '../components/About.astro';
---

<Layout>
  <Header />

  <main>
    <Hero />
    <Strategy />
  </main>
</Layout>
