---
import { Image } from 'astro:assets';

import strategicImg from '../assets/mobile/image-strategic.jpg';
import redTildeImg from '../assets/desktop/bg-pattern-wave-red.svg';

import Button from './Button.astro';
---

<section id="about">
  <Image
    src={strategicImg}
    alt="A top-down view of a workspace with a laptop, a notebook, a coffee cup, and a phone, suggesting a moment of focused creativity and productivity."
    class="h-auto w-full"
  />

  <div class="pb-18 pt-18 bg-[#191921] px-6">
    <h2 class="relative mb-6 text-[32px] font-extrabold leading-tight text-white">
      <Image src={redTildeImg} alt="A red tilde" class="absolute -top-[86px] left-0 h-7 w-16" />

      <span class="text-[#f94f4f]">Design</span>
      is strategic.
    </h2>

    <p class="mb-10 text-[15px] font-normal leading-relaxed text-white">
      "A well-crafted design strategy consistently produces desired outcomes and brand awareness. We are firm believers
      that success lies in creative collaboration with our clients."
    </p>

    <Button variant="transparent">Schedule a call</Button>
  </div>
</section>
