---
import Button from './Button.astro';
---

<footer class="py-25 bg-white px-6 text-start">
  <h2 class="mb-12 text-[32px] font-extrabold leading-tight text-black">Let's build something great together.</h2>

  <Button color="red">Schedule a call</Button>
</footer>
