<section id="service">
  <div class="bg-[#f94f4f] px-6 pb-12 pt-24">
    <h2 class="text-[32px] font-extrabold leading-tight text-white">Our approach for creating a winning brand</h2>
  </div>

  <div class="bg-[#f94f4f] px-6 pb-3 pt-11">
    <ul>
      <li class="mb-21">
        <h3 class="relative mb-4">
          <span class="absolute -bottom-4 -left-4 text-[80px] font-extrabold leading-none text-white opacity-25">
            01
          </span>
          <span class="text-[15px] font-extrabold leading-relaxed text-white">Brand strategy</span>
        </h3>

        <p class="text-[15px] font-normal leading-relaxed text-white">
          Brand strategy is critical for long-term success. Outshining competitors and capturing the target audience are
          key.
        </p>
      </li>

      <li class="mb-21">
        <h3 class="relative mb-4">
          <span class="absolute -bottom-4 -left-4 text-[80px] font-extrabold leading-none text-white opacity-25">
            02
          </span>
          <span class="text-[15px] font-extrabold leading-relaxed text-white">Brand design</span>
        </h3>

        <p class="text-[15px] font-normal leading-relaxed text-white">
          Keeping the brand design unique and meaningful helps in communicating the brand’s timeless value effectively.
        </p>
      </li>

      <li class="mb-21">
        <h3 class="relative mb-4">
          <span class="absolute -bottom-4 -left-4 text-[80px] font-extrabold leading-none text-white opacity-25">
            03
          </span>
          <span class="text-[15px] font-extrabold leading-relaxed text-white">Web design</span>
        </h3>

        <p class="text-[15px] font-normal leading-relaxed text-white">
          A beautifully crafted website is the best tool for brand awareness, and ultimately results in increased
          revenues.
        </p>
      </li>
    </ul>
  </div>
</section>
